body {
   font-family: 'Inter', sans-serif;
   background-image: url(./images/pexels-kampus-production-8201155.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #f0e9e9;
   padding: 5%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.exp-texto {
  width: 50%;
}

p {
  font-size: 18px;
}

.palavra-escolhida , .deslocamento {
  margin-bottom: 1.5%;
}

 textarea , input {
  font-family: 'Inter', sans-serif;
  /* background-color: #867d7d;  */
  border-radius: 5px;
  width: 25%;
  height: 20px;
  border: none;
  resize: none;
} 

button {
  font-family: 'Inter', sans-serif;
  color: #867d7d;
  border-radius: 5px;
  border: none;
}

.botoes {
  display: inline-block;
  
  

}



