body {
  font-family: 'Inter', sans-serif;
  /* animation: banner 40s infinite; */
  /* animation-direction: alternate; */
  padding: 5%;
}

@media (min-width: 360px) {
 #ajuda {
   background-color: #d89494;
   margin: 0px; 
   padding: 0px;
 }

 h3 {
   font-size: 4rem;
 }
  
 p {
  font-size: 3rem;
 }

 li {
  font-size: 2rem;
 }

}

/* 
  @keyframes banner {
    0%, 20% {
      background-image: url(./images/sr.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    25%, 40% {
      background-image: url(./images/senhora.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    45%, 60% {
      background-image: url(./images/senhor.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    65%, 80% {
      background-image: url(./images/sra.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    85%, 100% {
      background-image: url(./images/cel.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  } */

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

.exp-texto {
  width: 50%;
}
/* 
p {
  font-size: 1.125rem;
} */

.palavra-escolhida , .deslocamento , .senha-facil {
  margin-bottom: 1.2%;
}

textarea , input {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  width: 25%;
  height: 25px;
  font-size: 1.125rem;
  border: none;
} 

button {
  font-family: 'Inter', sans-serif;
  border: none;
  color: #867d7d;
  border-radius: 5px;
  height: 30px;
}

.botoes {
  display: inline-block;
}



